@model WebAtividadeEntrevista.Models.ClienteModel
@{
    ViewBag.Title = "Alterar Cliente";
}
@section scripts{
  <script>
        var urlPost = '@Url.Action("Alterar", "Cliente", new { area = "" })';
        var urlPostBeneficiario = '@Url.Action("Incluir", "Beneficiario", new { area = ""})';
        var urlDeleteBeneficiario = '@Url.Action("Excluir", "Beneficiario", new { area = ""})';
        var urlConsulta = '@Url.Action("Alterar", "Beneficiario", new { area = "" })';
        var urlAlterarBeneficiario = '@Url.Action("Alterar", "Beneficiario", new { area = ""})';
        var obj = @Html.Raw(Json.Encode(Model));
        var urlRetorno = '@Url.Action("Index", "Cliente", new { area = "" })';
  </script>
  @Scripts.Render("~/bundles/altClientes")
  @Scripts.Render("~/Scripts/Utils/Utils.js");
  @Scripts.Render("~/bundles/altBeneficiario")

}
<h2>@Html.Raw(ViewBag.Title)</h2>
@Html.Partial("Forms")
@Html.Partial("~/Views/Beneficiario/AlterarBeneficiario.cshtml")
